/node_modules
/package-lock.json
/.next
.next/trace
.next/cache/webpack/client-development/7.pack.gz
.next/cache/webpack/client-development/8.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/server/pages/index.js
.next/static/chunks/webpack.js
.next/static/chunks/pages/index.js
.next/trace
.next/cache/webpack/client-development/7.pack.gz
.next/cache/webpack/client-development/8.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/server/pages/index.js
.next/static/chunks/webpack.js
.next/static/chunks/pages/index.js
.next
/next
